body{
    background-color:darkgrey;
}
a{
    margin: 0;
    padding: 0;
}

.TheMenu{
    margin: 9px 336px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom-style:solid;
    border-bottom-width:1px ;
    border-bottom-color:rgb(240, 248, 255);
    background-color: antiquewhite;
    z-index: 1;
    border-radius: 45px;
}

.MenuIcon{
    height: 42px;
    object-fit: scale-down;
    padding: 11px;

}